<!doctype html>
<html>
	<head>
	
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	
	    <!-- CSS -->
	    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="landing.css" rel="stylesheet" type="text/css">

		<title>Emotion Notion</title>
	
	</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1> You Feel </h1>
                            
                  <section id="scroller" class="overflow">
                  
                    <form id="projectForm" role="form" method='get' action="/timeLine">
                    
                        <div class="form-group">
                        
                        	<!-- HardCoded Image Need to make Dynamic -->
                          <center>
                        	<img src="http://oi62.tinypic.com/2imafp.jpg">
                        	</center>
                        	<!-- <label for="Name"> Emotion You Clicked: _______ </label> -->
                          
							<!-- <input type="text" class="form-control" id="name" placeholder="Task name" name="name"> -->
                          
                        </div>

                        <div class="form-group">
                          	<label for="description">Why Do You Feel This Way?</label>
                          	
						  	<input type="text" class="form-control" id="description" placeholder="JonMariano is happy :)" name="description">
                        </div>
                        
                        <button id="submitBtn" type="submit" class="btn btn-default" >
                            Submit
                        </button>
                                                
                        
                         <!-- CANCEL Button -->
                         <input class="btn btn-default" type="button"  onClick="parent.location='/' " value="Cancel"> <!-- if cancel go Home -->
                      </form>
                      
                  </section>
            </div> <!-- CLose Col -->

        </div>
        <!-- /.row -->
    </div> <!-- CLOSE CONTAINER -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

     <script src="js/description.js"></script>

</body>

</html>